
.trends-card-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  img {
    padding: 2%;
    width: 100%;
    height: 15%;
    border-radius: 8px;
  }
  div {
    margin-top: 4%;
    font-size: 0.9em;
    text-align: center;
  }
}

@media(min-width:768px) {
  .trends-card-container {
    width: 25%;
  }
}

@media(min-width:1024px) {

  .trends-card-container {
    width:10%;
  }
}